.deudores {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.deudores h1 {
  text-transform: capitalize;
  margin-top: 20px !important;
  font-size: 50px !important;
}

.persona-container {
  text-align: center;
  border: 2px solid #ccc;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  width: 160px;
  margin: 10px;
  text-transform: capitalize;
  box-sizing: border-box;
}

.nombre-persona {
  cursor: pointer;
}

.nombre-chico {
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.button {
  color: #ecf0f1;
  font-size: 30px;
  background-color: #80D39B;
  border: 1px solid #6BAA75;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  height: 100px;
  align-items: center;
  box-shadow: 0px 6px 0px #6BAA75;
  transition: all .1s;
}

.button:active {
  box-shadow: 0px 2px 0px #6BAA75;
  position: relative;
  top: 2px;
}

.contenido {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.boton-volver {
  font-family: Arial, sans-serif;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 10px 5px;
}

.boton-volver:hover {
  background-color: #0056b3;
}

.text-center .cuerpo {
  margin-top: 140px;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f4f4f4;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-options {
  display: flex;
}

.menu-option {
  width: auto;
  cursor: pointer;
  margin: 10px;
  padding-bottom: 5px;
  position: relative;
}

.menu-line {
  height: 2px;
  background-color: #247BA0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 104%;
  display: none;
}

.display {
  display: block;
}

.info-container {
  display: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info-container.active {
  display: block;
  width: 100%;
  height: auto;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-form input[type="search"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 5px;
}

/* Boton desabilitado*/

/* Agrega un estilo para el botón cuando tenga la clase 'deshabilitado' */
.btn.deshabilitado {
  background-color: gray !important;
  /* Cambia el color de fondo */
  color: white !important;
  /* Cambia el co lor del texto */
  border-color: gray !important;
  /* Cambia el color del borde */
}

