.deudores {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.deudores h1 {
  text-transform: capitalize;
  margin-top: 20px !important;
  font-size: 50px !important;
}

.persona-container {
  text-align: center;
  border: 2px solid #ccc;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  width: 150px;
  margin: 10px;
  text-transform: capitalize;
  box-sizing: border-box;
}

.circle-container {
  margin-right: auto;

}

.circle {
  width: 25px;
  height: auto;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  font-size: 15px;
  margin-bottom: 15px;
}

.nombre-persona {
  cursor: pointer;
}

.nombre-chico {
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
}

a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  color: lightgreen !important;
}

.button {
  color: #ecf0f1;
  font-size: 35px;
  background-color: #80D39B;
  border: 1px solid #6BAA75;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  height: 80px;
  align-items: center;
  box-shadow: 0px 6px 0px #6BAA75;
  transition: all .1s;
  line-height: 2px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.button:active {
  box-shadow: 0px 2px 0px #6BAA75;
  position: relative;
  top: 2px;
}

.button-plus {
  color: #ecf0f1;
  font-size: 50px;
  background-color: #80D39B;
  border: 1px solid #6BAA75;
  border-radius: 5px;
  padding: 10px;
  width: 80px;
  height: 80px;
  align-items: center;
  box-shadow: 0px 6px 0px #6BAA75;
  transition: all .1s;
  line-height: 2px;
  justify-content: center;
  align-items: center;
}

.button-plus:active {
  box-shadow: 0px 2px 0px #6BAA75;
  position: relative;
  top: 2px;
}

.filtrar {
  background-color: #797d7f;
  border: 1px solid #8c8e8f42;
  box-shadow: 0px 6px 0px #66686954;
}

.filtrar i {
  font-size: 40px;
}

.filtrar:active {
  box-shadow: 0px 2px 0px #8c8e8f42;
  position: relative;
  top: 2px;
}

.contenido {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.boton-volver {
  font-family: Arial, sans-serif;
  display: inline-block;
  padding: 8px 12px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.boton-volver:hover {
  background-color: #0056b3;
}

.text-center .cuerpo {
  margin-top: 140px;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f4f4f4;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-options {
  display: flex;
}

.menu-option {
  width: auto;
  cursor: pointer;
  margin: 10px;
  padding-bottom: 5px;
  position: relative;
}

.menu-line {
  height: 2px;
  background-color: #247BA0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 104%;
  display: none;
}

.display {
  display: block;
}

.info-container {
  display: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info-container.active {
  display: block;
  width: 100%;
  height: auto;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-form input[type="search"],
.filtro {
  padding: 10px;
  font-size: 26px !important;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
  margin: 0 15px 0 15px;
}

/* Boton desabilitado*/

/* Agrega un estilo para el botón cuando tenga la clase 'deshabilitado' */
.btn.deshabilitado {
  background-color: gray !important;
  color: white !important;
  border-color: gray !important;
}


/* CSS para mostrar el formulario de búsqueda en ciertas condiciones */

.ocultar {
  display: none;
}

.mostrar {
  display: flex;
}


.select2-container--default .select2-selection--multiple {
  margin-top: 20px;
  line-height: 35px;
}

.select2-container .select2-search--inline .select2-search__field {
  height: 25px !important;
}


table {
  width: 100% !important;
  background-color: white !important;
  text-align: left;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #ddd !important;
}

tr:hover td,
tr:hover a {
  background-color: #8C9A9E !important;
  color: white !important;
}

.gray {
  background-color: #6c757d;
}

.gray:hover {
  background-color: #6c757d94;
}

.red {
  background-color: #eb4141;
}

.red:hover {
  background-color: #eb4141d0;
}


@media screen and (max-width: 600px) {
  .persona-container {
    padding: 5px;
    width: 130px;
    margin: 5px;
  }

  .circle {
    margin-left: 90px;
  }

  .search-form {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-form input[type="search"] {
    width: 100%;
    margin: 10px 0;
  }

  .filtro {
    width: 80%;
    margin: auto !important;
  }

  div.ocultar {
    display: block;
  }

  .mostrar {
    display: none !important;
  }

  .button-plus,
  .filtrar {
    margin: auto;
  }

  .mostrar #campo,
  .ocultar #campo {
    display: block;
    /* Mostrar el formulario en contenedores mostrar/ocultar según sea necesario */
  }

  .button {
    margin-right: 0px;
  }

  .extendido {
    margin: 20px 0 0 0;
  }

  .select2-container .select2-search--inline .select2-search__field {
    height: 40px !important;
  }

}